<h3>Search BGG:</h3>
{% load static %}
<form id="bgg_user_search" action="{% url 'get_bgg_collection' %}" spinner="{% static 'game_groups/img/spinning_d20.gif' %}">
    {% csrf_token %}
    <p><input type="search" name="username"></p>
    <p><input class="btn btn-primary" type="submit" value="Search"></p>
</form>
<form id="add_from_collection" action="{% url 'add_from_collection' %}" method="POST">
    {% csrf_token %}
    <h3>Search Results:</h3>
    <p><a class="show_hide" linked-element="user_search_images" href="#">Show/Hide Images</a></p>
    <table class="table">
        <tbody id="user_search_results"></tbody>
    </table>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>