{% extends "game_groups/base.html" %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
    <h1>Edit your information:</h1>
    <form action="{% url 'edit' %}" method="POST">
        {% csrf_token %}
        {{edit_form.as_p}}
        <input type="submit" value="Submit">
    </form>
    <h3>Change your password:</h3>
    <form action="{% url 'pw_change' %}" method="POST">
        {% csrf_token %}
        {{pw_form.as_p}}
        <input type="submit" value="Submit">
    </form>
{% endblock %}