<form id="filter_form" action="{% url 'filter_table' table_type=table_type username=user.username group_id=group.id %}" method="POST">
    {% csrf_token %}
    Category: <input type="text" name="category">
    Mechanic: <input type="text" name="mechanic">
    Min Players: <input type="number" name="min_players" min="1" max="10" value="1">
    Max Players: <input type="number" name="max_players" min="1" max="10" value="10">
    <input class="btn btn-sm btn-secondary" type="reset" value="Reset">
</form>