{% extends "game_groups/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Hello, {{request.user.username}}!</h1>
    <hr>
    <h3>Your Games:</h3>
    {% include "game_groups/game_filter.html" %}
    <div id="game_table_div">
        {% include "game_groups/owned_games_table.html" %}
    </div>
    <p><a href="#" data-toggle="modal" data-target=".game_search_page">Search For a Game</a> | <a href="#" data-toggle="modal" data-target=".user_search_page">Add From a BGG Collection</a></p>
    <div class="modal fade game_search_page" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include "game_groups/add_game.html" %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade user_search_page" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add a Game</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include "game_groups/collection.html" %}
                </div>
            </div>
        </div>
    </div>
    <hr>
    <h3>Your Groups:</h3>
    <p><a class="show_hide" linked-element="groups" href="#">Show/Hide</a></p>
    <div class="groups">
        <table class="table table-striped">
            <thead>
                <th>
                    <tr>
                        <th>Group Name</th>
                        <th>Members</th>
                    </tr>
                </th>
            </thead>
            <tbody>
                {% for group in request.user.game_groups.all %}
                    <tr>
                        <td><a href="{% url 'group' id=group.id %}">{{group.name}}</a></td>
                        <td>
                            {% for user in group.members.all %}
                                <a href="{% url 'profile' username=user.username %}">{{user.username}}</a> 
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p><a href="{% url 'new_group' %}">New Group</a></p>
    </div>
    <hr>
    <h3>Other Users:</h3>
    <p><a class="show_hide" linked-element="users" href="#">Show/Hide</a></p>
    <div class="users">
        <table class="table table-striped users">
            <thead>
                <th>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                    </tr>
                </th>
            </thead>
            <tbody>
                {% for user in other_users %}
                    <tr>
                        <td><a href="{% url 'profile' username=user.username %}">{{user.username}}</a></td>
                        <td>{{user.email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}