<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous'>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <p><label for="username">Username:</label>
                <input type="text" name="username" id="username"></p>
                <p><label for="password">Password:</label>
                <input type="password" name="password" id="password"></p>
                <input type="submit" value="Submit">
            </form>
            <p><a href="{% url 'register' %}" class="btn btn-secondary">Register New Account</a></p>
        </div>
    </body>
</html>